@import '../../constants.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-follow-me {
  width: 50%;
  height: 60px;
}

.footer-data {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: $contrast-blue;
}

.footer-location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 55%;
  padding: 15px 15px;
  margin: 10px 0;
  border-right: 1px solid rgb(221, 237, 240);
}

.footer-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 45%;
  padding: 15px 15px;
  margin: 10px 0;
}

.footer-logo {
  height: 110px;
  & img {
    height: 100%;
    padding: 25px 0;
  }
}
