@import '../../constants.scss';

.spacing-navbar {
  height: 81px;
  width: 100%;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  background-color: white;
  height: 80px;
  top: 0;
  &.hide-navbar {
    transform: translateY(-80px);
  }
  transform: translateY(0px);
  transition: 0.7s;
  z-index: 99;
  &.hide {
    transform: translateY(-80px); //TODO apply this to remove
  }
}

.navbar-logo {
  height: 80%;
  & img {
    height: 100%;
    width: auto;
  }
}

.navbar-hamburger-menu {
  position: absolute;
  right: 20px;
  padding: 10px 5px;
  border-radius: 8px;
  &:active {
    border: 2px solid #e6e6e6;
  }
}

.navbar-options {
  position: absolute;
  list-style: none;
  background-color: white;
  height: 0px;
  width: 100%;
  top: 80px;
  text-align: center;
  overflow: hidden;
  transition: 0.3s;
  &.show {
    height: 320px;
  }
  & li > a {
    height: 40px;
    line-height: 40px;
    color: rgba($color: #000, $alpha: 0.3);
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    &:active {
      background-color: whitesmoke;
      color: rgba($color: #000, $alpha: 0.5);
    }
  }
}

.show-hide-menu {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: $contrast-blue;
  top: -25px;
  right: 42px;
  border-radius: 50%;
  transition: 0.5s ease-out;
}

.change-status {
  transform: translateY(105px);
}

.d-big-none {
  display: block;
}

@media (min-width: 1024px) {
  .navbar {
    height: 100px;
    justify-content: space-between;
    padding: 0 10px 0 50px;
  }

  .navbar-hamburger-menu {
    display: none;
  }

  .navbar-options {
    position: static;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    &.show {
      height: auto;
    }
    & li a {
      padding: 0 8px;
      &:hover {
        color: rgba($color: #000, $alpha: 0.5);
      }
    }
  }

  .line {
    top: 100px;
  }

  .d-big-none {
    display: none;
  }
}

@media (min-width: 1440px) {
  .navbar-options li a {
    padding: 0 20px;
  }
}
