@import './constants.scss';

.cursive {
  font-family: 'Charline', cursive;
}

.site-container {
  max-width: 1440px;
  padding: 0;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}

.bottom-line {
  width: 90%;
  margin: auto;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center center;
}

.bottom-line-white {
  background-image: url('./img/visuals/dots-white.png');
}

.bottom-line-blue {
  background-image: url('./img/visuals/dots.png');
}

@media (min-width: 1024px) {
  .hide-mobile {
    display: block;
  }

  .hide-desktop {
    display: none;
  }
}
