@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('./fonts/AlteHaasGroteskRegular.ttf');
}
@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('./fonts/AlteHaasGroteskBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Charline';
  src: url('./fonts/Charline\ font.otf');
}

$color-font: #6d6d6d;
$contrast-blue: #aee1ed;
$color-neutro: #e8e5e3;

$font-default: 'AlteHaasGrotesk', serif;
