@import './constants.scss';

html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $color-font;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'AlteHaasGrotesk', serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Charline', cursive;
}
