.slider {
  position: relative;
  max-height: 750px;
  width: 100%;
  height: 60vw;
  display: flex;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  background-color: #e8e5e3;
}

.slider-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-button {
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  background-color: whitesmoke;
  margin: 0 2vw;
  opacity: 0.5;
  transition: 0.5s;
}

.active {
  opacity: 0.8;
  width: 1.6vw;
  height: 1.6vw;
}

.slider-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .slider {
    &:hover .slider-bar {
      opacity: 1;
    }
  }

  .slider-bar {
    transition: 0.5s;
    opacity: 0;
  }
}
